* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'roboto', sans-serif;
}

/* Header and hero */

.top {
    background-color: #1F2937;
    padding: 20px 0;
    height: fit-content;
}

.header, .hero {
    display: flex;
    margin: 0 200px 80px;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.hero-text {
    flex: 1;
}

.hero img {
    max-width: 50%;
    flex: 1;
}

button {
    background-color: #3882F6;
    box-shadow: none;
    border: none;
    color: white;
    padding: 6px 25px;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.hero h2 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.header a {
    text-decoration: none;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

.hero-text p, .header a {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.information h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding-bottom: 50px;
}

.information {
    padding: 50px 0px 100px 0px;
}

.images {
    display: flex;
    gap: 50px;
    align-items: baseline;
    justify-content: center;
}

.images img {
    border: 2px solid #3882F6;
    border-radius: 10px;
    height: 125px;
    width: inherit;
    object-fit: cover;
}

.images figcaption {
    text-align: center;
    font-size: 18px;
}

.images div {
    width: 125px;
}

.quote {
    background-color: #E5E7EB;
    color: #1F2937;
    padding: 100px 300px;
}

.text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

#author {
    text-align: end;
    font-weight: 900;
}

.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

.container {
    background-color: #3882F6;
    border-radius: 5px;
    color: #E5E7EB;
    flex: 1;
    padding: 40px 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container button {
    border-color: #E5E7EB;
    border: 2px solid;
}

.container h4 {
    font-weight: bold;
    font-size: 18px;
}

.container p {
    font-size: 14px;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 25px;
}

.footer a {
    text-decoration: none;
    color: inherit;
}
